html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

// helpers
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.flex-spacer {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0.7em;
  min-height: 0.7em;
}
.flex-grow {
  flex-grow: 1;
}
.flex-no-grow,
.flex-nogrow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-no-shrink,
.flex-noshrink {
  flex-shrink: 0;
}
.flex-row,
.flex-col,
.flex-row-r,
.flex-col-r {
  display: flex;
  align-items: stretch;
}
.flex-col {
  flex-direction: column;
}
.flex-col-r {
  flex-direction: column-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-row-r {
  flex-direction: row-reverse;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-baseline {
  align-items: baseline;
}
.text-wrap {
  white-space: normal;
}
.text-nowrap,
.text-no-wrap {
  white-space: nowrap;
}
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.width-100 {
  width: 100%;
}
.width-75 {
  width: 75%;
}
.width-50 {
  width: 50%;
}
.width-25 {
  width: 25%;
}
.width-33 {
  width: 33%;
}
.width-66 {
  width: 66%;
}
.height-100 {
  height: 100%;
}
.height-75 {
  height: 75%;
}
.height-50 {
  height: 50%;
}
.height-25 {
  height: 25%;
}
.height-33 {
  height: 33%;
}
.height-66 {
  height: 66%;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
.scroll {
  overflow-x: auto;
  overflow-y: auto;
}
.no-overflow-y {
  overflow-y: hidden;
}
.no-overflow-x {
  overflow-x: hidden;
}
.no-overflow {
  overflow-x: hidden;
  overflow-y: hidden;
}

// colors
@panel-color: #ecab87;
@panel-color-highlight: lighten(#ecab87, 10%);
@panel-color-error: #ff6f36;
@button-color: red;
@button-color-toggled: #00b1ec;

// effects
@panel-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);

// PANELS
.panel(@color) {
  padding: 1.4em;
  background-color: @color;
  box-shadow: @panel-shadow;
}
.standard-panel {
  .panel(lightsalmon);
}
.highlight-panel {
  .panel(@panel-color-highlight);
}
.error-panel {
  .panel(@panel-color-error);
}

// BUTTONS
.button(@color) {
  background-color: @color;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 0.7em;
  line-height: 1em;
  &:hover {
    background-color: lighten(@color, 10%);
    cursor: pointer;
  }
  &:active {
    background-color: darken(@color, 5%);
  }
  .badge {
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 6px;
    font-size: 0.8em;
    line-height: 1em;
    min-width: 24px;
  }

  .button-bar.horizontal & {
    &:not(:last-of-type) {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 2px solid rgba(0, 0, 0, 0.2);
    }
    &:not(:first-of-type) {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .button-bar.vertical & {
    &:not(:last-of-type) {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    &:not(:first-of-type) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}

button {
  .button(@button-color);
  &.toggled {
    .button(@button-color-toggled);
  }
}

.main-map {
}

.input-text {
  input {
    padding: 0.7em;
    width: 100%;
    border-radius: 0px;
    border: none;
    background: white;
  }
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.192);
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0.4em;
    left: 0.4em;
    bottom: 0.4em;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
